<article class="post">
  <div class="title">
    <a href="{{post_content}}" target="_blank">{{title}}<span class="user-info">{{user.username}} on {{format_date created_at}}</span></a>
    
  </div>
  <div class="comments">
    <a href="/post/{{id}}">{{post_content}} </a>
  </div>
</article>